/* Importing the font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Global Stylising */
* {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

mark {
  display: inline-block;
  line-height: 32px;
  background: linear-gradient(to bottom,
      transparent 55%,
      #99d0fd 45%);
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 29px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
}

footer {
  background-color: #afdbff;
}

.top_banner img {
  display: block;
  width: 180px;
  margin: -15px auto;
}

.nav_bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_bar li {
  float: left;
}

.nav_bar a {
  display: block;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.25s ease;
}

.nav_bar a:hover {
  font-weight: 600;
  letter-spacing: 2px;
  color: #1c8af9;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 100px;
}

.img_col {
  align-items: center;
  text-align: center;
}

.img_col img {
  width: 400px;
}

#senash {
  width: 450px;
  margin: -60px auto;
}

.desc_col {
  margin-left: 50px;
}

#signature {
  width: 250px;
}

.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 0px;
}

.foot_info {
  margin-left: 100px;
  text-align: left;
}

.social {
  margin-right: 100px;
  text-align: right;
}

.social img {
  display: inline-block;
  width: 40px;
  margin-left: 20px;
}