/* Margin is set to 200px */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-weight: normal;
}


.blog{
    display: block;
    text-decoration: none;
    border-radius: 50px;
    color: black;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    margin-top: 2px;
}

.blog:hover{
    background-color: rgb(185, 218, 255);
}

.blog a {
    text-decoration: none;
    color: black;
}

.nav_imgs{
    display: block;
    margin: auto;
}

img.my_pic{
    margin-top: 20px;
    display: block;
}

.introduction{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.introductory {
    margin: auto;
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.info_wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.info_col {
    padding: 20px;
}

#middle {
    border: 0px;
    border-right: 3px dashed black;
}
.info_col h1{
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline dashed;
}

.info_col p {
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    font-size: 21px;
    line-height: 150%;
}

.conclusion {
    padding-top: 50px;
    display: block;
    padding-bottom: 50px;
}

.con_txt {
    padding-top: 30px;
}

.social_media {
    width: 30px;
    right: 0px;
    display: block;
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}

/* For every screens whose width is larger than 1500px */
@media only screen and (min-width: 1101px) {
    .logo {
        width: 33%;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-right: 200px;
        margin-left: 200px;
    }
    .blog {
        width: 80%;
        height: 100%;   
    }
    .nav_imgs {
        width: 30%;
    }
    img.my_pic {
        margin-left: 200px;
        width: 25%;
        float: left;
    }
    .introduction {
        font-size: 32px;
        margin-right: 200px;
    }
    #signature {
        float: left;
        width: 15%;
    }
    #banner {
        width: 55%;
        margin-top: 300px;
    }
    .info_wrapper {
        margin-left: 200px;
        margin-right: 200px;
    }
    .con_txt {
        margin-left: 200px;
        font-size: 18px;
    }

}

/* Width less than 1500px */
@media only screen and (max-width: 1100px) {
    .logo {
        margin-left: 10px;
        width: 10%;
        float: left;
    }
    .blog {
        display: block;
        width: 30%;
        height: 100%;
        margin-left: 70%;
    }
    .nav_imgs {
        width: 20%;
    }
    img.my_pic {
        margin-left: 20px;
        margin-right: 50px;
        width: 39%;
        float: left;
    }
    .introduction {
        font-size: 28px;
        margin-right: 20px;
    }
    #signature {
        float: left;
        width: 20%;
    }
    #banner {
        width: 70%;
        margin-top: 100px;
    }
    .info_wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
    .con_txt {
        margin-left: 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 720px) {
    #banner {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    img.my_pic {
        display: block;
        width: 50%;
        float: none;
        margin: auto;
    }
    #signature{
        display: block;
        width: 30%;
        float: none;
        margin: auto;
    }
    .introduction {
        font-size: 21px;
        text-align: center;
    }
    .info_col h1 {
        font-size: 18px;
    }
    .info_col p {
        font-size: 15px;
    }
    .con_txt {
        margin-left: 10px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 400px) {
    .blog {
        font-size: 12px;
    }
    #banner {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    img.my_pic {
        display: block;
        width: 50%;
        float: none;
        margin: auto;
    }
    #signature{
        display: block;
        width: 30%;
        float: none;
        margin: auto;
    }
    .introduction {
        font-size: 21px;
        text-align: center;
    }
    .info_col h1 {
        font-size: 18px;
    }
    .info_col p {
        font-size: 15px;
    }
    .con_txt {
        margin-left: 10px;
        font-size: 15px;
    }
}